[presentation="loading"] [presentation="loading-item"] {
    background-color: rgba(231, 231, 231, 0.842);
    color: rgba(0, 0, 0, 0);
    border-radius: 1rem;
    border-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: wait;
  }
  
  [presentation="loading"] [presentation="loading-item"] * {
    visibility: hidden !important;
  }
  
  [presentation="loading"] [presentation="loading-item"]:empty::after,
  [presentation="loading"] [presentation="loading-item"] *:empty::after {
    content: "\00a0";
  }