:host {
    padding-bottom: 2rem;
    display: block;
}
section {
    box-shadow: var(--c360-g-shadow-3);
    border-radius: var(--c360-g-radius-border-4);
    padding: 1.5rem;
}
.skeleton {
    background-color: rgba(231, 231, 231, 0.842);
    width: 100%;
    border-radius: 1rem;
}
.skeleton.title {
    height: 1.5rem;
    width: 50%;
    margin-bottom: 1rem;
}

.skeleton.span {
    margin-bottom: .75rem;
    max-width: 200px;
    height: 1rem;
}

.skeleton.text {
    height: .75rem;
    margin-bottom: .5rem;
}

.skeleton.text:last-child {
    width: 70%;
}