@import '@salesforce-ux/c360-grid/dist/index.css';

/* //// 🚀 PRESENTATION STATE 🚀 /////// */
@import '../../utils/presentationHelper.css';

:host {
  padding-bottom: 2rem;
  display: block;
}
* {
  box-sizing: border-box;
}
section {
  box-shadow: var(--c360-g-shadow-3);
  border-radius: var(--c360-g-radius-border-4);
  padding: 1.5rem;
  width: 100%;
}

.image {
  --axds-image-height: 100px;
  --axds-image-width: 100px;
  --axds-image-border-radius: 50%;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

span {
  font-style: italic;
  margin-bottom: 0.5rem;
  display: block;
}

p {
  margin: 0;
}
