@import "@salesforce-ux/c360-grid/dist/index.css";

:host {
    padding-bottom: 2rem;
    display: block;
}
* {
    box-sizing: border-box;
}
section {
    box-shadow: var(--c360-g-shadow-3);
    border-radius: var(--c360-g-radius-border-4);
    padding: 1.5rem;
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    margin: 0;
    padding-bottom: .5rem;
}

span {
    font-style: italic;
    padding-bottom: .5rem;
    display: block;
}

p {
    margin: 0;
}


/* //// SKELETON STATE /////// */

.loading .loading-item {
    background: #949494;
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: wait;
  }
  
  .loading .loading-item * {
    visibility: hidden !important;
  }
  
  .loading .loading-item:empty::after,
  .loading .loading-item *:empty::after {
    content: "\00a0";
  }